{
	"name": "{{plugin.name}}",
	"author": "{{#if plugin.author_uri}}<a href=\"{{plugin.author_uri}}\">{{plugin.author}}</a>{{else}}{{plugin.author}}{{/if}}",
	"version": "{{plugin.version}}",
	"homepage": "{{plugin.uri}}",
	"download_link" : "{{plugin.download_uri}}{{plugin.slug}}-v{{plugin.version}}.zip",
	"requires": "{{plugin.requires}}",
	"tested": "{{plugin.tested}}",
	"requires_php": "{{plugin.requires_php}}",
	"last_updated": "{{plugin.last_updated}}",
{{#if plugin.banners}}
	"banners": {
		"low": "{{plugin.banners.low}}",
		"high": "{{plugin.banners.high}}"
	},
{{/if}}
{{#if plugin.screenshots}}
	"screenshots": [
	{{#each plugin.screenshots}}
		{
			"url": "{{& url}}",
			"caption": "{{& caption}}"
		}{{#unless @last}},{{/unless}}
	{{/each}}
	],
{{/if}}
	"description": "{{#if plugin.description}}{{plugin.description}}{{else}}{{plugin.short_description}}{{/if}}",
{{#if plugin.installation~}}
	"installation": "{{plugin.installation}}",
{{~/if}}
	"changelog": "\{{CHANGELOG}}<p><a href='{{plugin.uri}}/blob/master/CHANGELOG.md'>View the full changelog</a></p>"
}
